.front{
    background-image: linear-gradient(#00000e,#015196,black);
    height: 550px;
    position: relative;
}
.front-img{
    object-fit: contain;
    margin-left: 0px;
    margin-bottom: 5px;
    float: left;
}
.heading{
    color: white;
    text-align: center;
    padding-top: 2em;
    text-shadow: 2px 1px 5px rgb(175, 183, 250);
}
.navbartop{
    background-color: #00000e;   
}
.bg{
    width: 600px;
    height: 300px;
    margin-left: 50px;
    margin-top: 30px;
    
}
.bg:hover{
    border-radius:20px;
    box-shadow: 0 0 10px rgb(123, 123, 125);
}
.imgdiv{
    position: relative;
}
.text-block-head{
    position: absolute;
    color: aliceblue;
    top: 30px;    
    left: 80px;
}
.text-block-p{
    position: absolute;
    color: aliceblue;
    top: 80px;    
    left: 70px;
}
.text-block-btn{
    position: absolute;
    color: aliceblue;
    top: 280px;    
    left: 370px;
}
.trial{
    width: 100%;
    object-fit: contain;
}
.black{
    background-color: rgb(0, 0, 0);
}
.secondpgtext{
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular';
}