.containerPic{
    background: url('../Assets/Images/volcanicMountain.jpg') no-repeat;
    background-size: cover;    
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
.welcome{
    color: white;
    text-shadow: 2px 1px 5px rgb(175, 183, 250);
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    text-align: center;
    margin-top: 1.5%;
}
.intro-line{
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: italic;
    color: white;
    font-size: x-large;
    text-align: center;
}
.select-row{
    margin: 7%;
}
.create-btn{
    height: 77%;
    border: 3px solid rgb(100, 99, 99);
    margin-top: 4%;
    font-weight: 500;
    font-size: x-large;
    
}