#bgVideo{
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    object-fit: cover;
    z-index: -1;
    width: 100%;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%,-50%);
}
.no-padding{
    padding: 0;
    margin: 0;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.content-center {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
}
.btn-row{
    position: absolute;
    z-index: 1;
    transform: translate(-50%, -50%);
    top:70%;
    left: 20%;
}
@media (max-width: 768px) {
    .btn-row {
        top: 75%;
        left: 30%;
    }
}
@media (max-width: 480px) {
    .btn-row {
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}
.website-name{
    color: white;
    text-shadow: 5px 5px 10px black;
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: italic;
}
.website-line{
    color: white;
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: italic;
    font-size: 25px;
}
.button{
    font-size: 25px;
    color: rgb(203, 177, 221);
    border: 3px solid rgb(3, 0, 49);
    border-radius: 7px;
    padding: 10px 10px;
    font-weight: 500;
    background: transparent;
    box-shadow: 0 0 5px rgb(131, 124, 172);
    width: 150px;
    font-family: "Merriweather", serif;
    transition: opacity 2s;
}
.button:hover{
    background-color: white;
    color: rgb(49, 0, 39);
    opacity: 0.2;
    width: 155px;
}
@media (max-width:768px) {
    .button{
        font-size: 20px;
        padding: 2px 8px;
        width: 130px;
    }
}
@media (max-width:480px) {
    .button{
        font-size: 18px;
        padding: 2px 6px;
        width: 120px;
        margin-top: 15px;
    }
}